 <h1>Edit Wiki</h1>
 
 <div class="row">
   <div class="col-md-4">
     <p>Guidelines for wikis:</p>
     <ul>
       <li>Create clear,concise and relevant wikis.</li>
       <li>Ensure that the wiki content is truthful and accurate.</li>
       <li>Omit profane and obscene words.</li>
     </ul>
     <%= form_for @wiki do |f| %>
       <%= f.label :add_Collaborators %><br>
       <%= f.select :collaborators, @allcollaborators.map{ |collaborator| collaborator.email }, :prompt => 'Select a collaborator' %><br>
     <% end %>
     <%= render partial: 'collaborators/collaborator' %>
   </div>
   <!--<%= render partial: 'wikis/form', locals: { wiki: @wiki } %>-->
 </div>