  <div class="row">
    <div class="col-md-10">
     <h2 class="text-center">
       <strong><u><%= @wiki.title %></u></strong>
     </h2>
    </div>
    <div class="col-md-2">
     <div style="margin-top: 25px;">
      <%= link_to "Edit Wiki", edit_wiki_path, class: 'btn btn-success' %>
     </div>
     <div style="margin-top: 4px;">
     <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?Think long and hard!' } %>
     </div>
     <!--<div style="margin-top: 20px;">-->
     <!-- <p>Collaborators</p>-->
     <!--  <% @wiki.collaborators.each do |collaborator| %>-->
     <!--      <%= link_to collaborator.user.email %><br>-->
     <!--  <% end %>-->
     <!--</div>-->
    </div>
  </div>
  <div class="text-info" style="margin: 10px; font-size: 18px;">
     <p><%= markdown(@wiki.body) %></p>
   </div>
   <div class="pull-right user-info">
    <p><strong>Collaborators</strong></p>
       <% @wiki.collaborators.each do |collaborator| %>
           <%= link_to collaborator.user.email %><br>
       <% end %>
    </div>
